*.blend
*.jpg
*.json
output/
# *.glb
# *.txt
*.pyc
*.png
*.exr
*.mp4
*.wav
*.mov
*.avi
*.zip
*.tar.gz
*.rar
*.bak
*.tmp
*.log
*.cache
*.DS_Store
*.vscode/
상품 이미지/*
output/*
images/*
*.pth
*.glb
*.blend
*.hdf5
*.npy
*.JPG
*.jpg
__pycahche__/